@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
h1 {
    font-family: "Playwrite NO", cursive;
    font-weight: 200;
    text-align: center;
    font-size: 100px;
    color: black
}

body {
    background-color: yellow;
}

p {
    width: 400px;
    color: blue;
    margin-left: 600px;
    margin-top: 400px;
    margin-bottom: 300px;
}